#box-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
  height: 55%;
}
#box-login #inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70%;
}
#box-login #inputs .centralizacao-tamanho-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 85%;
}
#box-login #inputs .centralizacao-tamanho-inputs svg {
  position: absolute;
  left: 15px;
  color: #666;
  pointer-events: none;
}

#header-box-direita {
  width: 100%;
}
#header-box-direita #botao-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #74a1ed;
}

.inputs, .tamanho-inputs {
  width: 100%;
  text-align: center;
  outline: none;
  transition: 0.3s;
  box-sizing: border-box;
}
.inputs.inputs, .tamanho-inputs.inputs {
  height: 40px;
  border: 2px solid #b8d9f0;
  border-radius: 10px;
  background-color: #f3f9ff;
  box-shadow: 0px 0px 4px 0px rgba(34, 80, 251, 0.62);
  padding: 0;
}
.inputs.inputs:focus, .tamanho-inputs.inputs:focus {
  border-color: #5095f0;
}
.inputs.tamanho-inputs, .tamanho-inputs.tamanho-inputs {
  padding: 12px 12px 12px 45px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.labels-margin {
  margin: 0px 0px 4px 10px;
}

.campos-displays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

#box-botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 85%;
  margin-top: 15px;
}
#box-botoes #botao-login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}
#box-botoes #botao-login::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #0f61db;
  border-radius: 15px;
  transition: clip-path 0.5s ease-in-out;
  clip-path: inset(0 100% 100% 0);
}
#box-botoes #botao-login:hover {
  transition: 0.7s;
}
#box-botoes #botao-login:hover::before {
  clip-path: inset(0 0 0 0);
}
#box-botoes #botao-login {
  border: 2px solid #5095f0;
  width: 89%;
  height: 100%;
  background-color: #5095f0;
}

#botao-voltar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}
#botao-voltar::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #575e69;
  border-radius: 15px;
  transition: clip-path 0.5s ease-in-out;
  clip-path: inset(0 100% 100% 0);
}
#botao-voltar:hover {
  transition: 0.7s;
}
#botao-voltar:hover::before {
  clip-path: inset(0 0 0 0);
}
#botao-voltar {
  border: 2px solid #adaeaf;
  width: 10%;
  height: 35px;
}

#lembre-esqueceu, #esqueci-lembrar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}