@use '../Global/mixins' as *;

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

#tudo {
    @include flex-center;
    background-color: rgb(244, 245, 247);
    height: 100%;
}

#box-principal {
    @include flex-center(column);
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
            url('../../midia/Imagens/books-arrangement-with-copy-space.jpg') no-repeat center / cover;
        filter: blur(1px);
        transform: scale(1.1);
        z-index: -1;
    }
}

#box-direita {
    @include flex-center(column, space-between);
    border-radius: 10px;

    width: 30%;
    height: 75%;

    overflow: hidden;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(15px);

    @keyframes subir {
        @include animacao-subida;
    }

    &.minha-animacao {
        animation: subir 0.6s ease-out forwards;
    }

    #header-box-direita {
        width: 100%;

        #botao-titulo {
            @include flex-center(row, space-between);
            background-color: #74a1ed;

            #botao-voltar {
                @include flex-center(row, normal);
                @include estilo-botao-voltar;

                &:hover {
                    background-color: #74a1ed;
                    color: #fff;
                    border-color: #fff;
                }
            }
        }

        h1 {
            margin-top: 2.5rem;
            margin-bottom: 0;
        }
    }

    #box-login {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 75%;
        height: 55%;

        #inputs {
            @include flex-center(column, space-around);
            background: transparent;
            width: 100%;
            height: 70%;

            .centralizacao-tamanho-inputs {
                @include flex-center(row, center);
                position: relative;
                width: 85%;
            }
        }

        &.campos-displays {
            @include flex-center(column, center);
            align-items: flex-start;
        }
    }

    #box-botoes {
        @include flex-center(row, center);
        height: 10%;
        width: 85%;
        margin-top: 15px;

        #botao-login {
            @include estilo-botao-padrao;
            width: 89%;
            height: 100%;

            border: 2px solid #5095f0;
            border-radius: 25px;

            background-color: transparent;

            transition: all .5s;

            &:hover {
                background-color: #fff;
            }

            h3 {
                font-size: 22px;

                color: black;
            }
        }
    }
}

.labels-margin {
    margin: 0px 0px 4px 10px;
    color: var(--cor-texto);
}

.inputs {
    width: 100%;
    height: 60px;

    border: 2px solid #b8d9f0;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;

    text-align: start;
    font-size: 15px;
    font-family: var(--fonte-principal);

    background-color: #f3f9ff;
    box-shadow: 0px 0px 4px 0px rgba(34, 80, 251, 0.62);
    padding: 0;

    outline: none;
    transition: 0.3s;
    box-sizing: border-box;

    &:focus {
        border-bottom: 2px solid var(--cor-primaria);
    }
}

#esqueci-senha {
    @include flex-center(row, space-around);
    width: 100%;
}

@media (max-width: 1420px) {
    #box-direita {
        width: 35%;
        height: 85%;
    }
}

@media (max-width: 1024px) {
    #box-direita {
        width: 50%;
        height: 85%;
    }
}

@media (max-width: 768px) {
    #box-direita {
        width: 70%;
        height: auto;
        min-height: 90%;
    }

    #box-direita #box-mensagem {
        height: auto;
    }
}

@media (max-width: 480px) {
    #box-direita {
        width: 92%;
        border-radius: 8px;
    }
}