* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#tudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 245, 247);
  height: 100%;
}

#box-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#box-principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), url("../../midia/Imagens/books-arrangement-with-copy-space.jpg") no-repeat center/cover;
  filter: blur(1px);
  transform: scale(1.1);
  z-index: -1;
}

#box-direita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 30%;
  height: 75%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(15px);
}
@keyframes subir {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#box-direita.minha-animacao {
  animation: subir 0.6s ease-out forwards;
}
#box-direita #header-box-direita {
  width: 100%;
}
#box-direita #header-box-direita #botao-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #74a1ed;
}
#box-direita #header-box-direita #botao-titulo #botao-voltar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  height: 35px;
  border: 2px solid #74a1ed;
  border-radius: 8px;
  color: var(--cor-texto);
  background-color: #fff;
  margin: 0 2.5px;
  transition: all 0.5s;
  cursor: pointer;
}
#box-direita #header-box-direita #botao-titulo #botao-voltar:hover {
  background-color: #74a1ed;
  color: #fff;
  border-color: #fff;
}
#box-direita #header-box-direita h1 {
  margin-top: 2.5rem;
  margin-bottom: 0;
}
#box-direita #box-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
  height: 55%;
}
#box-direita #box-login #inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70%;
}
#box-direita #box-login #inputs .centralizacao-tamanho-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 85%;
}
#box-direita #box-login #inputs .centralizacao-tamanho-inputs svg {
  position: absolute;
  left: 15px;
  color: #666;
  pointer-events: none;
}
#box-direita #box-login.campos-displays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
#box-direita #box-botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 85%;
  margin-top: 15px;
}
#box-direita #box-botoes #botao-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  width: 89%;
  height: 100%;
  border: 2px solid #5095f0;
  border-radius: 25px;
  background-color: transparent;
  transition: all 0.5s;
}
#box-direita #box-botoes #botao-login:hover {
  background-color: #fff;
}
#box-direita #box-botoes #botao-login h3 {
  font-size: 22px;
  color: black;
}

.labels-margin {
  margin: 0px 0px 4px 10px;
  color: var(--cor-texto);
}

.inputs,
.tamanho-inputs {
  width: 100%;
  text-align: center;
  outline: none;
  transition: 0.3s;
  box-sizing: border-box;
}
.inputs.inputs,
.tamanho-inputs.inputs {
  height: 40px;
  border: 2px solid #b8d9f0;
  border-radius: 10px;
  background-color: #f3f9ff;
  box-shadow: 0px 0px 4px 0px rgba(34, 80, 251, 0.62);
  padding: 0;
}
.inputs.inputs:focus,
.tamanho-inputs.inputs:focus {
  border-color: #5095f0;
}
.inputs.tamanho-inputs,
.tamanho-inputs.tamanho-inputs {
  padding: 12px 12px 12px 45px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

#esqueci-senha {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 1420px) {
  #box-direita {
    width: 35%;
    height: 85%;
  }
}
@media (max-width: 1024px) {
  #box-direita {
    width: 50%;
    height: 85%;
  }
}
@media (max-width: 768px) {
  #box-direita {
    width: 70%;
    height: auto;
    min-height: 90%;
  }
  #box-direita #box-mensagem {
    height: auto;
  }
}
@media (max-width: 480px) {
  #box-direita {
    width: 92%;
    border-radius: 8px;
  }
}
.fonte-josefin {
  font-family: var(--fonte-principal);
}

.bold {
  font-weight: var(--peso-fonte);
}