html,
body {
    height: 100%;
    margin: 0;
}

#tudo {
    background-color: rgb(244, 245, 247);
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#box-principal {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
        url(./midia/Imagens/cloud14.jpg) no-repeat;
    background-position: center;
    background-size: cover;

    height: 100%;
    width: 100%;
}

#box-direita {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 7px;

    width: 60%;
    height: 65%;

    margin: 15px 0px 0px 0px;

    overflow: hidden;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

#box-mensagem-escolha {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 60px;

    height: 100%;
    width: 42%;
}

#box-tojunfort {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #74a1ed;

    width: 55%;
    height: 100%;
    
}

#box-tojunfort img {
    min-height: 30%;
}

#box-tojunfort h1{
    font-size: 43px;
    font-weight: 700;
    color: white;
    
    -webkit-text-stroke: 1px rgb(29, 29, 29);  
}

#box-mensagem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 90%;
    height: 15%;

    margin-top: 25px;
}

#box-mensagem h1 {
    font-size: 31px;

    margin: 0;
    color: #3f3b3b;
}

#box-escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;
    width: 95%;
    height: 45%;
}

#box-diretor {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
}

#box-escolha-h4 {
    margin: 0;

    font-weight: 400;
    font-size: 18px;
}

.escolhas {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    width: 77%;
    height: 15%;

    border-radius: 10px;

    box-shadow: 0px 0px 9px 0px rgb(0, 0, 0, 0.25);
    background: linear-gradient(93deg, rgb(248 248 248) -0.02%, rgb(255 255 255) 99.14%), rgb(255 255 255);
    backdrop-filter: blur(2px);
}

.botao-escolhas {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    height: 100%;

    border-radius: 30px;
    border: 2px solid rgba(89, 172, 228, 0.2);

    background-color: #5095f0;

    cursor: pointer;
    position: relative;
}

.botao-escolhas::before {
    content: "";
    position: absolute;

    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;

    border: 2px solid #0f61db;
    border-radius: 30px;

    transition: clip-path 0.5s ease-in-out;


    clip-path: inset(0 100% 100% 0);
}

.botao-escolhas:hover::before {

    clip-path: inset(0 0 0 0);
}

.img-botao {
    width: 45%;
}

.fonte {
    font-family: var(--fonte-principal);
}

.fonte-josefin {
    font-family: var(--fonte-principal);
}

.bold {
    font-weight: var(--peso-fonte);
}

.texto {
    margin: 0;

    color: #3f3b3b;
}

.imgs-logo {
    height: 120px;
}