@mixin estilo-botao-padrao {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    cursor: pointer;

    position: relative;
}

@mixin efeito-borda-animada($cor) {
    &::before {
        content: "";

        position: absolute;
        top: -2px; 
        left: -2px; 
        right: -2px; 
        bottom: -2px;

        border: 2px solid $cor;
        border-radius: 15px;

        transition: clip-path 0.5s ease-in-out;

        clip-path: inset(0 100% 100% 0);
    }

    &:hover{
        transition: 0.7s;
    }

    &:hover::before {
        clip-path: inset(0 0 0 0);
    }
}

@mixin flex-center($direction: row, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justify;
}

@mixin animacao-subida{
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}