:root {
    --fonte-principal: 'Josefin Sans', sans-serif;
    --peso-fonte: 700;

    // Paleta Azul
    --cor-mais-escura: #1a3a6b;
    --cor-escura: #2d5fb5;
    --cor-primaria: #5095f0;
    --cor-clara: #74a1ed;
    --cor-mais-clara: #d4e4fc;
    --azul-1: #74a1ed;

    // Cores Neutras
    --cor-texto: #3f3b3b;
    --cor-fundo: #f4f5f7;
    --cor-fundo2: #f4f5f7;
    --cor-bordas-inputs: #b8d9f0;

    // Cores Header (Homepage)
    --cor1-header: #2c78e7;
    --cor2-header: rgb(15 104 193);
    --cor3-header: rgb(38 111 185);

    --tamanho-titulo: 25px;
}

.fonte-josefin {
    font-family: var(--fonte-principal);
}

.bold {
    font-weight: var(--peso-fonte)
}

.text-sm {
    font-size: 15px;
}

.text-md {
    font-size: 20px;
}

.text-lg {
    font-size: 25px;
}

.text-xl {
    font-size: 30px;
}

.mt-0 {
    margin-top: 0;
}

.m-0 {
    margin: 0;
}